<div class="chat-container">
    <h1>Bienvenidos al Chat Comunitario - Comision 69990</h1>
    <div>
        <input type="text" id="chatBox" placeholder="Escribe tu mensaje y dale enter">
    </div>

    <div>
        <p id="messagesLogs"></p>
    </div>
</div>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/main.js"></script>